:root {
    --aurora-red: #BF616A;
    --aurora-orange: #D08770;
    --aurora-yellow: #EBCB8B;
    --aurora-green: #A3BE8C;
    --aurora-purple: #B48EAD;

    --polarnight-dark-1: #2E3440;
    --polarnight-dark-2: #3B4252;
    --polarnight-dark-3: #434C5E;
    --polarnight-dark-4: #4C566A;

    --snowstorm-white-1: #D8DEE9;
    --snowstorm-white-2: #E5E9F0;
    --snowstorm-white-3: #ECEFF4;

    --frost-1: #8FBCBB;
    --frost-2: #88C0D0;
    --frost-3: #81A1C1;
    --frost-4: #5E81AC;
}

body {
    background: var(--polarnight-dark-1);
}

.welcome {
    color: #fff;
    font-family: "Arial";
    position: relative;
    left: 0;
    top: 100px;
}

.welcome h2 {
    text-align: center;
    z-index: 2;
    margin: auto;
    height: 60px;
}

.cards {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 280px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 210px);
    place-content: center;
    margin: auto;
}

.link-card {

    line-height: 0.5rem;
    border-radius: 10px;
    background: var(--polarnight-dark-2);
    width: 200px;
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.42);
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.42);
}

.link-card .title {
    font-family: Arial;
    text-align: center;
    font-size: 1.3rem;
}

.link-card .link {
    text-decoration: none;
    vertical-align: center;
    text-align: center;
    font-family: Arial;
    color: #ffffff;
    transition: all ease-out 0.7s;

}

.bi {
    height: 13px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: -0.05em;
    fill: currentcolor;
}

.link-card .link:hover {
    transition: color ease-out 0.7s;
    color: var(--frost-2)
}

.card-1 .title {
    color: var(--aurora-orange);
}

.card-2 .title {
    color: var(--aurora-purple);
}

.card-3 .title {
    color: var(--frost-4);
}

.search {
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    top: 170px;
    width: 340px;
    height: 40px;
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.42);
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.42);
}

.searchinput {
    text-align: center;
    outline: none;
    height: 40px;
    width: 300px;
    font-family: Arial;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: rgba(255, 255, 255, 0);
    background: var(--polarnight-dark-2);
    color: #fff;
}
.searchbtn {
    position: absolute;
    text-align: center;
    border: rgba(255, 255, 255, 0);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    left: 299px;
    height: 40px;
    width: 40px;
    background: var(--polarnight-dark-2);
    color: #fff;
}

.togglebuttonActive {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    border: rgba(255, 255, 255, 0);
    position: absolute;
    height: 40px;
    width: 40px;
    background: var(--polarnight-dark-2);
    color: #fff;
}

.togglebuttonDeactive {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    border: rgba(255, 255, 255, 0);
    position: absolute;
    height: 40px;
    width: 40px;
    background: var(--polarnight-dark-2);
    color: #fff;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

#Ecosia {
    transition: all 1s ease-out;
    display: none;
    margin: 5px;
    color: white;
    background-color: var(--polarnight-dark-2);
    border-radius: 10px;
    border: rgba(255, 255, 255, 0);
    padding: 5px;
}

#Google {
    transition: all 1s ease-out;
    display: none;
    margin: 5px;
    color: white;
    background-color: var(--polarnight-dark-2);
    border-radius: 10px;
    border: rgba(255, 255, 255, 0);
    padding: 5px;
}

.search #Google {
    display: flex;
    transition: all 1s ease-out;
}

.search #Ecosia {
    display: flex;
    transition: all 1s ease-out;
}

.search {
    transition: all 1s ease-out;
    height: 75px;
}

#Ecosia:hover {
    background-color: var(--frost-4);
}

#Google:hover {
    background-color: var(--frost-4);
}

.deactive1 {
    height: 40px;
}

.deactive {
    display: none;
}

.hidden {
    display: none;
}