body {
    background: #1c1c1c;
}

.welcome {
    color: #fff;
    font-family: "Arial";
    position: relative;
    left: 0;
    top: 100px;
}

.welcome h2 {
    text-align: center;
    z-index: 2;
    margin: auto;
}

.cards {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 200px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 210px);
    place-content: center;
    margin: auto;
}

.link-card {
    line-height: 0.5rem;
    border-radius: 10px;
    background: #212121;
    width: 200px;
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.42);
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.42);
}

.link-card .title {
    font-family: Arial;
    text-align: center;
    font-size: 1.3rem;
}

.link-card .link {
    text-decoration: none;
    vertical-align: center;
    text-align: center;
    font-family: Arial;
    color: #ffffff;
    transition: all ease-out 0.7s;

}

.bi {
    height: 13px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: -0.05em;
    fill: currentcolor;
}

.link-card .link:hover {
    transition: color ease-out 0.7s;
    color: #01ffd0;
}



.card-1 .title {
    color: #ff5900;
}

.card-2 .title {
    color: #6600fc;
}

.card-3 .title {
    color: #0066ff;
}